<section>
    <img class="img" src="/assets/nasa_logo.gif" ></img>
    <div class="logo"><img src="/assets/nasa_plane.webp"/></div>
</section>

<style>
    .img {
        width: 100vw;
        height: 100vw;
    }

</style>